* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.header-image {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-content {
  padding: 20px;
}

.header-text {
  color: gray;
}

.main {
  width: 840px;
  margin: 0 auto;
}

.main1 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid #d3d3d3;
}

.main2 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid #d3d3d3;
}

.main3 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3d3d3;
}

.main4 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid #d3d3d3;
}

.m-text {
  margin: 0 auto;
  text-align: left;
  color: #a9a9a9;
}

.m-link {
  border-bottom: 2px solid;
  text-align: left;
  color: #a9a9a9;
}



